<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <center><h1>
        Bio
      </h1>
    </div>
    <h2>
      <center><a href="/presskit">
        Press Kit
      </a>
    </h2>
  </div>

<br>

  <div class="row">
    <div class="col-xs-12 col-md-6 about">
      <h4>
        Kings Bounty is deeply humbled by the unanimous awesome feedback they’ve received from some of the top rock groups in the world. From the New York Hardcore legends, the Cro-Mags to the iconic nu metal band Korn. Bands from vastly different genres of rock music praising Kings Bounty’s Alternative Metal sound, heavy guitar tones, and ultra-catchy vocal hooks, putting them on the “Edgier” side of radio leaning metal. All of this while Kings Bounty have been working on a buzz since they started performing last year (including opening for Sevendust & POD).
      </h4>
      <br>
      <h4>
        Forming in late 2015, when singer/songwriter Anthony “Q” Quiles (Stillwell, The Arsonists) met guitarists Mike Dijan (Breakdown, Sai Nam, Lavalette) and Steve Licata through mutual friends and fellow musicians. Fueled by a mutual interest in heavy music, the 3 began recording original material in Q’s home studio. “It became clear that our different musical backgrounds ignited a great chemical reaction after the first 2 demos” says Dijan, “we clicked instantly and we knew the time was right to bring our unique sound to the world", added Q.
      </h4>
      <br>
      <h4>
        The band was soon joined by bassist Mike Kaufman, who brought a heavy handed groove to the mix. “Mike or “Harris” (as they affectionatley refer to him as in Steve Harris-Iron Maiden) has a no-nonsense approach to his playing, “he makes the heavy.. HEAVY and he makes it move” says Steve.
      </h4>
    </div>

    <div class="col-xs-6 col-md-6">
      <img src="/images/4299155 copy.jpg" alt="" height="550px" width="450px">
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-6 about">
      <h4>
        The band called on  Chris Collier (Korn, Stillwell, Prong, KXM) to produce their debut album. Q having worked with Chris on the Stillwell album "Raise It Up" knew instantly Chris was the man for the job, "Chris is an awesome producer, the proof is in the product, he's the Wizard".
      </h4>
      <br>
      <h4>
        Kings Bounty is a hybrid of different genres of music seamlessly blended to bring a heavy alternative metal sound. Q , inspired by the likes of Josh Homme, Chris Cornell & Nas. Dijan’s influences include Jimmy Page, Jeff Buckley and Dr. Know from the Bad Brains. Steve is inspired by Dream Theater, Steve Vai & Tool.
      </h4>
    </div>

    <div class="col-xs-4 col-md-2">
      <img src="/images/4342807 copy.jpg" alt="" height="225px" width="175px">
    </div>

    <div class="col-xs-4 col-md-2">
      <img src="/images/4342806 copy.jpg" alt="" height="225px" width="175px">
    </div>

    <div class="col-xs-4 col-md-2">
      <img src="/images/4342811 copy.jpg" alt="" height="225px" width="175px">
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-6 about">
      <h4>
        Excited as they were with the new sounds & direction, the band never anticipated the enthusiasm from other rock bands. “I can understand all the excitement, their stuff is really good” said Sonny from POD. Music mogul and author Howie Abrams said, "In 2017, legitimately sincere new hard rock/metal bands are few and far between. Kings Bounty wears its style on its sleeve, and comes hard with song craftsmanship, groove, crunch and lyrics".
      </h4>
      <br>
      <h4>
        Although receiving love & acknowledgement  for their music is great, the band is steadily focused on getting on the road to show the world their music. With shows being booked & an album slated to be released this year, “we’re psyched to get out there and play” says Dijan.
      </h4>
    </div>

    <div class="col-xs-6 col-md-3">
      <img src="/images/4342815 copy.jpg" alt="" height="225px" width="175px">
    </div>

    <div class="col-xs-6 col-md-3">
      <img src="/images/4342813 (1) copy.jpg" alt="" height="225px" width="175px">
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-6 about">
      <h4>
        On the heels of a showcase at NYC's Bowery Electric and the release of their debut video for "Denial", Kings Bounty flew to the west coast in early March 2017 to play shows with P.O.D. and Korn. Their show at the Vibe Lounge at the Morongo Resort & Casino in Cazabon, CA marked P.O.D.'s first show of 2017, and had the band warming up a crowd of 800 fans. Two days later, Kings Bounty was on stage in front of 2000 rabid Korn fans at the brand new House of Blues in Anaheim, CA.  The shows were met with unanimous accolades all around for Kings Bounty.
      </h4>
      <br>
      <h4>
        "'What it comes down to for us,’ remarks Q, ‘ that we really dig what we’re doing.  And it resonates in the songs, because a lot of people already are digging  it too". ‘Exactly,’ agrees Dijan, ‘it’s just the beginning and we’ve met so many people who say "this is the kind of music I love, it’s what’s we miss in today's heavy music scene”. “That gives us the reassurance that we’re on to something really good”.
      </h4>
    </div>

    <div class="col-xs-6 col-md-3">
      <iframe width="450" height="300" src="https://www.youtube.com/embed/_dpw6o-qbRE" frameborder="0" allowfullscreen></iframe>
    </div>

  </div>

</div>
