<div class="container contactus">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <center><h1>Contact Kings Bounty & Join Our Mailing List</h1>
    </div>
  </div>

  <br>

  <div class="formdiv">
    <form method="POST" action="/send_dynamic_email">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <label for="from_email">Email:</label>
          <br>
          <input type="text" name="from_email">
        </div>
      </div>

    <br><br>

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <label for="email_subject">Subject:</label>
          <br>
          <input type="text" name="email_subject">
        </div>
      </div>

    <br><br>

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <label for="email_content">Message:</label>
          <br>
          <textarea name="email_content" rows="8" cols="20"></textarea>
        </div>
      </div>

    <br>

      <input type="submit" class="btn btn-primary">
    </form>
  </div>

</div>
