<!-- Hello, fellow dev. -->
<!-- This demo based off the tut by Crisman Noble -->
<!-- https://codepen.io/crismanNoble/pen/bGzqu -->
<!-- And the smokey font can be attributed to wonderful Liza Ramo  -->
<!-- https://github.com/LizaLemons/knockout -->

<!-- for fade in -->
<div class="mock-div"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="flex-container" style="display:none;">
          <div class="logo">
            Kings Bounty
          </div>
        </div>
    </div>
  </div>
</div>
