<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1>Music</h1>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="video1">
        <center><iframe width="560" height="315" src="https://www.youtube.com/embed/_dpw6o-qbRE" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="video2">
        <center><iframe width="560" height="315" src="https://www.youtube.com/embed/zqNsBmkix9I" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>


</div>
