<div class="container">

  <div class="row">

    <div class="col-xs-12 col-md-12">
      <img src="/images/Kings Bounty - Press Kit2.001 copy.jpeg" alt="" width="1000">
    </div>
    <div class="col-xs-12 col-md-12">
      <img src="/images/Kings Bounty - Press Kit2.002 copy.jpeg" alt="" width="1000">
    </div>
    <div class="col-xs-12 col-md-12">
      <img src="/images/Kings Bounty - Press Kit2.003 copy.jpeg" alt="" width="1000">
    </div>
    <div class="col-xs-12 col-md-12">
      <a href="https://www.youtube.com/channel/UCCI1-QMcBeqrcEJEz7WUXmQ" target="_blank">
        <img src="/images/Kings Bounty - Press Kit2.004 copy.jpeg" alt="" width="1000">
      </a>
    </div>
    <div class="col-xs-12 col-md-12">
      <img src="/images/Kings Bounty - Press Kit2.005 copy.jpeg" alt="" width="1000">
    </div>
    <div class="col-xs-12 col-md-12">
      <img src="/images/Kings Bounty - Press Kit2.006 copy.jpeg" alt="" width="1000">
    </div>
    <div class="col-xs-12 col-md-12">
      <img src="/images/Kings Bounty - Press Kit2.007 copy.jpeg" alt="" width="1000">
    </div>
    <div class="col-xs-12 col-md-12">
      <img src="/images/Kings Bounty - Press Kit2.013 copy.jpeg" alt="" width="1000">
    </div>
    <div class="col-xs-12 col-md-12">
      <img src="/images/Kings Bounty - Press Kit2.008 copy.jpeg" alt="" width="1000">
    </div>
    <div class="col-xs-12 col-md-12">
      <img src="/images/Kings Bounty - Press Kit2.009 copy.jpeg" alt="" width="1000">
    </div>
    <div class="col-xs-12 col-md-12">
      <img src="/images/Kings Bounty - Press Kit2.010 copy.jpeg" alt="" width="1000">
    </div>
    <div class="col-xs-12 col-md-12">
      <a href="mailto:info@kingsbountyband.com">
        <img src="/images/Kings Bounty - Press Kit2.011 copy.jpeg" alt="" width="1000">
      </a>
    </div>

  </div>

</div>
