<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <center><h1>Shows</h1>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <ul>
        <li>
          <h3>
            Sun, Apr 30, 2017 @ 1:00 PM | Kings Bounty | Bike Blessing, Brooklyn, NY
          </h3>
        </li>
        <li>
          <h3>
            Mon, Mar 6, 2017 @ 7:00 PM | Korn w Kings Bounty | House of Blues, Anaheim, CA
          </h3>
        </li>
        <li>
          <h3>
            Sat, Mar 4, 2017 @ 8:30 PM | P.O.D. w Kings Bounty | Vibe Lounge, Morongo Casino, Cabazon, CA
          </h3>
        </li>
        <li>
          <h3>
            Wed, Feb 22, 2017 @ 7:00 PM | Kings Bounty | Bowery Electric, NY, NY
          </h3>
        </li>
        <li>
          <h3>
            Sun, Oct 2, 2016 @ 7:00 PM | Soul Warrior w Kings Bounty | Blackthorn 51, Queens, NY
          </h3>
        </li>
        <li>
          <h3>
            Sun, Jul 24, 2016 @ 6:00 PM | Silvertung w Kings Bounty | Blackthorn 51, Queens, NY
          </h3>
        </li>
        <li>
          <h3>
            Sun, May 22, 2016 @ 1:00 PM | P.O.D. w Kings Bounty | Jersey Shore Festival, Captain Hook's, Seaside Heights, NJ
          </h3>
        </li>
        <li>
          <h3>
            Thurs, May 5, 2016 @ 5:00 PM | Sevendust, Trivium, Like A Storm w Kings Bounty | The Webster, Hartford, CT
          </h3>
        </li>
      </ul>
    </div>
  </div>

</div>
