<div class="container shows">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <center><h1>Shows</h1>
        <a href="#2018">2018</a> | <a href="#2017">2017</a> | <a href="#2016">2016</a>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <ul>
        <h2>
          <a name="2018"></a>
          <u>
            2018
          </u>
        </h2>
        <li>
          <h3>
            Sat, March 17, 2018 @ 7:00 PM
          </h3>
          <h3>
             La Coka Nostra, <strong>Kings Bounty</strong>, Rasheed Chappell
          </h3>
          <h3>
            <a href="http://sobs.com/">S.O.B.'s</a>, NY, NY
          </h3>
        </li>
        <li>
          <h3>
            Fri, March 16, 2018 @ 7:00 PM
          </h3>
          <h3>
             La Coka Nostra, <strong>Kings Bounty</strong>, Rasheed Chappell
          </h3>
          <h3>
            <a href="https://www.ticketfly.com/purchase/event/1611715">Voltage Lounge</a>, Philadelphia, PA
          </h3>
        </li>
        <li>
          <h3>
            Thurs, March 15, 2018 @ 7:00 PM
          </h3>
          <h3>
             La Coka Nostra, <strong>Kings Bounty</strong>, Rasheed Chappell
          </h3>
          <h3>
            <a href="http://www.mideastoffers.com/all-shows/?cal-month=3&cal-year=2018#content">Middle East Downstairs</a>, Boston, MA
          </h3>
        </li>
        <li>
          <h3>
            Thurs, Feb 22, 2018 @ 7:00 PM
          </h3>
          <h3>
             <strong>Kings Bounty</strong>, Hello Phones, Newborn Kings, Activator
          </h3>
          <h3>
            <a href="http://www.theboweryelectric.com/" target="_blank">The Bowery Electric</a>, NY, NY
          </h3>
        </li>
        <li>
          <h3>
            Sat, Jan 20, 2018 @ 7:00 PM
          </h3>
          <h3>
            Nuclear Assault, Heavy Metal Kings, <strong>Kings Bounty</strong>, Drew Stone Hit Squad
          </h3>
          <h3>
            <a href="http://www.saintvitusbar.com/" target="_blank">St. Vitus Bar</a>, Brooklyn, NY | <a href="https://www.ticketfly.com/event/1595789?utm_medium=api">Tickets</a>
          </h3>
          <p>
            Charity Benefit Concert. All proceeds will be donated to <a href="https://tamerlainefarm.org/">Tamerlaine Farm Animal Sanctuary</a>.
          </p>
        </li>

        <hr>
        <h2>
          <a name="2017"></a>
          <u>
            2017
          </u>
        </h2>
        <li>
          <h3>
            Sat, Sept 30, 2017 @ 7:00 PM
          </h3>
          <h3>
            <a href="http://www.korn.com" target="_blank">Korn</a> Live in Concert with Special Guests <strong>Kings Bounty</strong>
          </h3>
          <h3>
            <a href="http://www.thepageant.com/event/korn-093017/" target="_blank">The Pageant</a>, St. Louis, MO
          </h3>
        </li>
        <li>
          <h3>
            Fri, Sept 29, 2017 @ 8:00 PM
          </h3>
          <h3>
            <a href="http://www.korn.com" target="_blank">Korn</a> Live in Concert with Special Guests <strong>Kings Bounty</strong> & Ded
          </h3>
          <h3>
            <a href="http://www.uptowntheater.com/calendar.html" target="_blank">Uptown Theatre</a>, Kansas City, MO
          </h3>
        </li>
        <li>
          <h3>
            Wed, Sept 27, 2017 @ 8:00 PM
          </h3>
          <h3>
            <a href="http://www.korn.com" target="_blank">Korn</a> Live in Concert with Special Guests <strong>Kings Bounty</strong> & Ded
          </h3>
          <h3>
            <a href="https://store.therave.com/p-3550-korn.aspx" target="_blank">Eagles Ballroom</a>, Milwaukee, WI
          </h3>
        </li>
        <li>
          <h3>
            Tues, Sept 26, 2017 @ 8:00 PM
          </h3>
          <h3>
            <a href="http://www.korn.com" target="_blank">Korn</a> Live in Concert with Special Guests <strong>Kings Bounty</strong> & Ded
          </h3>
          <h3>
            <a href="http://mythlive.com/event/korn/" target="_blank">Myth</a>, St. Paul, MN
          </h3>
        </li>
        <li>
          <h3>
            Tues, Aug 15, 2017 @ 8:00 PM
          </h3>
          <h3>
            <strong>Kings Bounty</strong>, The Bone Chimes, Monster Over There
          </h3>
          <h3>
            <a href="http://www.theboweryelectric.com/event/1520823-bone-chimes-new-york/" target="_blank">Bowery Electric</a>, NY, NY
          </h3>
        </li>
        <li>
          <h3>
            Sun, Apr 30, 2017 @ 1:00 PM
          </h3>
          <h3>
            <strong>Kings Bounty</strong>
          </h3>
          <h3>
            Bike Blessing, Brooklyn, NY
          </h3>
        </li>
        <li>
          <h3>
            Mon, Mar 6, 2017 @ 7:00 PM
          </h3>
          <h3>
            <a href="http://www.korn.com" target="_blank">Korn</a> w <strong>Kings Bounty</strong>
          </h3>
          <h3>
            <a href="http://www.houseofblues.com/anaheim" target="_blank">House of Blues</a>, Anaheim, CA
          </h3>
        </li>
        <li>
          <h3>
            Sat, Mar 4, 2017 @ 8:30 PM
          </h3>
          <h3>
            <a href="http://www.payableondeath.com/" target="_blank">P.O.D.</a> w <strong>Kings Bounty</strong>
          </h3>
          <h3>
            <a href="https://www.morongocasinoresort.com/entertainment/vibe" target="_blank">Vibe Lounge, Morongo Casino</a>, Cabazon, CA
          </h3>
        </li>
        <li>
          <h3>
            Wed, Feb 22, 2017 @ 7:00 PM
          </h3>
          <h3>
            <strong>Kings Bounty</strong>
          </h3>
          <h3>
            <a href="http://www.theboweryelectric.com/" target="_blank">Bowery Electric</a>, NY, NY
          </h3>
        </li>
        <hr>
        <h2>
          <a name="2016"></a>
          <u>
            2016
          </u>
        </h2>
        <li>
          <h3>
            Sun, Oct 2, 2016 @ 7:00 PM
          </h3>
          <h3>
            Soul Warrior w <strong>Kings Bounty</strong>
          </h3>
          <h3>
            <a href="https://www.facebook.com/BlackthornQueensNY/" target="_blank">Blackthorn 51</a>, Queens, NY
          </h3>
        </li>
        <li>
          <h3>
            Sun, Jul 24, 2016 @ 6:00 PM
          </h3>
          <h3>
            Silvertung w <strong>Kings Bounty</strong>
          </h3>
          <h3>
            <a href="https://www.facebook.com/BlackthornQueensNY/" target="_blank">Blackthorn 51</a>, Queens, NY
          </h3>
        </li>
        <li>
          <h3>
            Sun, May 22, 2016 @ 1:00 PM
          </h3>
          <h3>
            <a href="http://www.payableondeath.com/" target="_blank">P.O.D.</a> w <strong>Kings Bounty</strong>
          </h3>
          <h3>
            <a href="http://www.jerseyshorefest.com/" target="_blank">Jersey Shore Festival</a>, Captain Hook's, Seaside Heights, NJ
          </h3>
        </li>
        <li>
          <h3>
            Thurs, May 5, 2016 @ 5:00 PM
          </h3>
          <h3>
            <a href="http://www.sevendust.com/" target="_blank">Sevendust</a>, <a href="http://www.trivium.org/home?ref=https://www.google.com/" target="_blank">Trivium</a>, <a href="http://likeastorm.com/" target="_blank">Like a Storm</a> w <strong>Kings Bounty</strong>
          </h3>
          <h3>
            <a href="http://www.webstertheater.com" target="_blank">The Webster</a>, Hartford, CT
          </h3>
        </li>
      </ul>
    </div>
  </div>

</div>
