<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1>Shows</h1>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <ul>
        <li>
          <h3>
            Mon, Mar 6 @ 7:00 PM | Korn with Kings Bounty | House of Blues, Anaheim, CA
          </h3>
        </li>
        <li>
          <h3>
            Sat, Mar 4 @ 8:30 PM | P.O.D. with Kings Bounty | Morongo Casino, Cabazon, CA
          </h3>
        </li>
        <li>
          <h3>
            Wed, Feb 22 @ 7:00 PM | Kings Bounty | Bowery Electric, NY, NY
          </h3>
        </li>
      </ul>
    </div>
  </div>

</div>
