<div class="container store">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <center><h1>Store</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3>
        Merch
      </h3>
      <a href="https://kingsbountyband.com/shop">
        <p>
          2 Kings Bounty T's (Pyramid & Logo) with 3-Song CD & FREE stickers: $30.00 (you save $10.00)
        </p>
      </a>
      <a href="https://kingsbountyband.com/shop">
        <p>
          Kings Bounty Pyramid T-Shirt & 3-Song CD & FREE stickers: $20.00
        </p>
      </a>
      <a href="https://kingsbountyband.com/shop">
        <p>
          Kings Bounty Logo T-Shirt & 3-Song CD & FREE Stickers: $20.00
        </p>
      </a>
      <a href="https://kingsbountyband.com/shop">
        <p>
          3 Song CD (1. Made You King+, 2. Denial+, 3. Subliminal*): $5.00
        </p>
      </a>
      <h6>
        +Written and recorded by Kings Bounty
      </h6>
      <h6>
        *Written and recorded by Suicidal Tendencies
      </h6>
      <a href="https://kingsbountyband.com/shop">
        <img src="/images/KB_Merch copy.jpg" alt="">
      </a>
      <h6>
        KB Logo Tee, 3-Song CD, KB Pyramid Tee
      </h6>
      <br>
      <a href="https://kingsbountyband.com/shop">
        <img src="/images/KB_Merch_Head copy.jpg" alt="">
      </a>
      <h6>
        Brian "Head" Welch from Korn wearing Kings Bounty swag on Korn's 2017 "Serenity of Summer" Tour \m/
      </h6>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3>
        Digital
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-6">
      <p>
        <strong>
          YouTube
        </strong>
      </p>
      <a href="https://youtu.be/_dpw6o-qbRE">
        <p>
          Denial
        </p>
      </a>
      <a href="https://youtu.be/og8asoI07CM">
        <p>
          Made You King
        </p>
      </a>
      <a href="https://youtu.be/-9o-NFAGwsA">
        <p>
          Subliminal
        </p>
      </a>
    </div>
    <div class="col-xs-6 col-md-6">
      <p>
        <strong>
          Streaming
        </strong>
      </p>
      <a href="https://open.spotify.com/album/1hbkFV3BNW8bJy4YBY6j4J" target="_blank">
        <p>
          Spotify
        </p>
      </a>
      <a href="https://www.iheart.com/artist/kings-bounty-30390177/songs/denial-46134845/" target="_blank">
        <p>
          iHeartRadio
        </p>
      </a>
      <a href="https://www.reverbnation.com/kingsbounty" target="_blank">
        <p>
          ReverbNation
        </p>
      </a>
    </div>
  </div>

</div>
