<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <center><h1>Store</h1>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3>Digital</h3>
      <p>Streaming:</p>
      <a href="https://open.spotify.com/album/1hbkFV3BNW8bJy4YBY6j4J" target="_blank"><p>Spotify</p></a>
      <a href="https://www.iheart.com/artist/kings-bounty-30390177/songs/denial-46134845/" target="_blank"><p>iHeartRadio</p></a>
      <a href="https://www.reverbnation.com/kingsbounty" target="_blank"><p>ReverbNation</p></a>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3>Physical</h3>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3>Merch</h3>
      <p>T-Shirts</p>
    </div>
  </div>

</div>
