<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3>
        Your message was sent successfully.
      </h3>
      <h3>
        Thanks for messaging us and being a part of the Kings Bounty family.
      </h3>
      <h3>
        You'll be added to our mailing list and kept up to date with the latest Kings Bounty news. 
      </h3>
    </div>
  </div>
</div>
