<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3>
        Thank you for messaging Kings Bounty and joining our mailing list.
      </h3>
    </div>
  </div>
</div>
